<div class="full-screen-container">
    <div class="welcome-page">
        <div class="welcome-hero">
            <h1 class="welcome-title">Welcome to myFlix!</h1>
        </div>

        <div class="welcome-actions">
            <button mat-raised-button (click)="openUserRegistrationDialog()" color="primary" class="welcome-button">
                <mat-icon>person_add</mat-icon> Sign Up
            </button>

            <button mat-raised-button (click)="openUserLoginDialog()" color="accent" class="welcome-button">
                <mat-icon>login</mat-icon> Login
            </button>
        </div>
    </div>
</div>