.navbar-title {
    font-size: 1em;
  }
  
  .navbar-spacer {
    flex: 1; 
  }
  


  mat-toolbar {
    justify-content: space-between;
    border-radius: 5px;
  }

  .mat-toolbar{
    padding: 5px;
  }
  