<mat-card class="movie-card">
    <mat-card-header class="mat-card-header">
        <mat-card-title>{{ movieData.title }}</mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="movieData.poster" alt="{{ movieData.title }} poster" />

    <mat-card-actions class="movie-card-actions">
        <button mat-raised-button color="primary" (click)="onViewDetails()">
            <mat-icon>info</mat-icon>
        </button>

        <button class="button" mat-raised-button color="secondary" (click)="onAddToFavorites()">
            <mat-icon>favorite</mat-icon>
        </button>

        <button class="button" mat-raised-button color="secondary" (click)="onRemoveFromFavorites()">
            <mat-icon>remove_circle</mat-icon>
        </button>

    </mat-card-actions>
</mat-card>