.movie-card {
    width: 215px;
    height: auto;
}

.mat-card-header {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
}

.movie-card img {
    width: auto;
    height: 300px;
    object-fit: cover;
}

.movie-card-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px; 
  }

.movie-card button {
    padding: 5px;
}

button {
    width: 5px;
    height: auto; 
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0;
  }

  